@model MyGymApp.UI.Models.WorkoutSessionViewModels.WorkoutSessionCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<h3>Create workout Session</h3>
<form asp-action="Create" id="form">
    <div class="container">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-file">
                                    </span> Details
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="form-horizontal">
                                <hr />
                                <div class="form-group">
                                    <label asp-for="Description" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Date" class="form-control" id="datePicker" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="glyphicon glyphicon-plus-sign">
                                    </span> Add Workout
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            @*<div class="form-inline">
                                    <hr />
                                    <div class="form-group">
                                        <input asp-for="WorkoutRecords[0].ActivityName" placeholder="Activity" class="form-control" style="width: 400px;" />

                                    </div>
                                    <div class="form-group">
                                        <input asp-for="WorkoutRecords[0].Duration" class="form-control duration" style="width: 150px;" />

                                    </div>
                                    <div class="form-group">
                                        <input asp-for="WorkoutRecords[0].Sets" class="form-control sets" style="width: 100px;" />

                                    </div>
                                    <div class="form-group">
                                        <input asp-for="WorkoutRecords[0].Reps" class="form-control reps" style="width: 100px;" />
                                    </div>
                                    <div class="form-group">
                                        <select multiple="multiple" id="musclesList" name="WorkoutRecords[0].MusclesListIds" style="width: 300px;"></select>
                                    </div>
                                    <div class="form-group">
                                        <button id="remove" class="btn btn-danger">Remove</button>
                                    </div>
                                </div>*@
                            <button id="add-workout-btn" type="button" class="btn btn-primary">Add workout</button>
                            <div id="putHere"></div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/handlebars/handlebars.js"></script>
    @*Handlebars template*@
    <script id="entry-template" type="text/x-handlebars-template">
        <div class="form-inline">
            <hr />
            <div class="form-group">
                <input name="WorkoutRecords[{{i}}].ActivityName" placeholder="Activity" class="form-control" style="width: 400px;" />

            </div>
            <div class="form-group">
                <input name="WorkoutRecords[{{i}}].Duration" id="duration{{i}}" class="form-control duration" style="width: 150px;" />

            </div>
            <div class="form-group">
                <input name="WorkoutRecords[{{i}}].Sets" id="sets{{i}}" class="form-control sets" style="width: 100px;" />

            </div>
            <div class="form-group">
                <input name="WorkoutRecords[{{i}}].Reps" id="reps{{i}}"  class="form-control reps" style="width: 100px;" />
            </div>
            <div class="form-group">
                <select multiple="multiple" id="musclesList{{i}}" name="WorkoutRecords[{{i}}].MusclesListIds" style="width: 300px;"></select>
            </div>
            <div class="form-group">
                <button id="remove{{i}}" class="btn btn-danger">Remove</button>
            </div>
        </div>
    </script>

    <script>
        (function () {
            var source = $("#entry-template").html();
            var template = Handlebars.compile(source);
            var pos = -1;

            $(document).ready(function () {
                $("#add-workout-btn").click(function (event) {
                    var data = { i: ++pos };
                    var html = template(data);
                    $("#putHere").append(html);

                    $("#datePicker").kendoDatePicker({
                        value: new Date(),
                        min: new Date(),
                        format: "dd/MM/yyyy"
                    });
                    $("#duration" + pos).kendoNumericTextBox({
                        min: 0,
                        placeholder: "Duration (min)",
                        format: "## Minutes"
                    });
                    $("#sets" + pos).kendoNumericTextBox({
                        min: 0,
                        placeholder: "Sets",
                        format: "## sets"
                    });
                    $("#reps" + pos).kendoNumericTextBox({
                        min: 0,
                        placeholder: "Reps",
                        format: "## reps"
                    });
                    $("#musclesList"+pos).kendoMultiSelect({
                        placeholder: "Select Targeted Muscles ...",
                        dataTextField: "name",
                        dataValueField: "muscleId",
                        autoBind: false,
                        dataSource: {
                            transport: {
                                read: {
                                    url: "/WorkoutSession/getmuscles",
                                    contentType: "application/json; charset=utf-8",
                                    type: "GET",
                                    dataType: "json"
                                }
                            }
                        }
                    });
                });
            });
        })();
    </script>
}