@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Juan Andres Rondon<br />
    <abbr title="Phone">P:</abbr>
    0416966751
</p>

<address>
    <strong>Email:</strong> <a href="mailto:juanrondonc@outlook.com">juanrondonc@outlook.com</a>
</address>
